*.log
*.zip
References/*
__Previews/*
Hardware/schematics/Lion-IRVT/__Previews/*
Hardware/schematics/Lion-IRVT/Celestial Altium Library - altium_library.DbLib
Hardware/schematics/*.zip
Hardware/schematics/TIDA-010086/Project Logs for TIDA-010086_mod/*
Hardware/schematics/TIDA-010086/__Previews/*
Hardware/schematics/TIDA-010086/Project Outputs/*